
<header class="page-header">
    <div class="container">
    <h1>Terms & Agreement</h1>
    </div>
    </header>
<!-- end page-header -->
<main>
  <section class="content-section">
    <div class="container">
      <div class="row justify-content-center">
             <div class="col-12">
          <div class="section-title">
              <h6>GET ANSWER YOUR SUPPORT</h6>
            <h2>digiflex Terms of Use</h2>
          </div>
          <!-- end section-title --> 
        </div>
        <!-- end col-12 -->
          <div class="col-12">
            <p>The digiflex service, including all content provided on the digiflex service, is protected by copyright, trademark, trade secret or other intellectual property laws and treaties.</p>
            <h3>Copyright</h3>
            <p>The copyrights in the shows and movies on our service are owned by many great producers, including digiflex Studios, LLC. If you believe your or someone else’s copyrights are being infringed upon through the digiflex service, let us know by
                completing the Copyright Infringement Claims form (<a href="https://www.digiflex.com/copyrights">www.digiflex.com/copyrights</a>).</p>
            <h3>Trademarks</h3>
            <p>digiflex and the N Logo are trademarks of digiflex, Inc.</p>
            <p>If you haven’t received our permission, do not use the digiflex marks as your own or in any manner that implies sponsorship or endorsement by digiflex.</p>
            <p>A product branded with the digiflex name or logo is a reflection of digiflex. Unless you are one of our licensees, we don’t allow others to make, sell, or give away anything with our name or logo on it.</p>
            <h3>Patents</h3>
            <p>digiflex streaming and DVD services are covered by patents. For information on patents related to our services please visit <a target="_blank" href="https://www.digiflex.com/patents">www.digiflex.com/patents</a>.</p>
            <h3>Third Party Notices</h3>
            <p>The software installed on digiflex ready devices to enable streaming of the digiflex service may contain software available under open source or free software licenses (“Open Source Software”) and/or commercial software licensed to digiflex by
                parties (“Commercial Software”). The digiflex Terms of Use do not alter any rights or obligations you may have under those Open Source Software licenses. Additional information about Open Source and Commercial Software, including required
                acknowledgements, license terms and notices, can be found <a target="_blank" href="https://www.digiflex.com/legal/opensourcenotices">here</a>.</p>
        </div>
          <!-- end col-12 -->
        </div>   
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>
  <!-- end content-section -->
