@model Language

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <h1>Update Movie Language</h1>
            <form method="post" asp-action="update">
                <div class="mb-3">
                    <label asp-for="LanguageName" class="form-label">Language</label>
                    <input asp-for="LanguageName" class="form-control">
                    <span asp-validation-for="LanguageName" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-outline-primary">Update</button>
            </form>
        </div>
    </div>
</div>
